<div class="task">
  <div class="task-info row">
    <div class="col-md-12">

      <div class="task-info-inner row">
        <div class="col-md-6">
          <div class="task-description">
            <h1><%= @task.title %></h1>
            <h1><%= @task.status %></h1>
            <p><%= @task.description %></p>
          </div>

          <% if current_user_can_edit?(@task) %>
            <div class="buffer-both">
              <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>
